@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Bienvenido al sistema, haz clic en las opciones que encontraras en la parte superior.</p>
</div>
