
@{
    ViewData["Title"] = "Index";
}

<div class="container row">
    <!-- Button trigger modal -->

    <div class="row" style="padding-top:2em;padding-bottom:2em">
        <div class="col-8">
            <h4>Lista de Cajeros Activos</h4>
        </div>





        <div class="col-4 d-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Agregar Cajero
            </button>
        </div>

    </div>


</div>