@model List<ListaPeriodo>;
@{
    
    ViewData["Title"] = "ListaProcesados";
}

<div class="container row">
    <h4>Lista de Vouchers Procesados</h4>

    <div class="col-12 row mt-3">
        <div class="col-4">
            <select class="form-select" aria-label="Default select example" id="periodo" onchange="_actualizarTablaPagados()">
                <option selected disabled>Seleccione el periodo</option>
                @foreach (var item in Model)
                {
                    <option value="@item.periodoTexto">@item.periodoDescripcion</option>
                }
            </select>
        </div>

    </div>


    <div class="col-12 mt-3">
        <div class="tablaPagados" id="tablaPagados">

        </div>
    </div>


</div>



<!-- Modal -->
<div class="modal fade" id="modalTransacciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">

        <div id="contenidoModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>

        </div>

    </div>
</div>



@section Scripts
{
    <script>
        function _actualizarTablaPagados()
        {
            var comboOrigen=$('#periodo').val();

            if(comboOrigen==''){
                alert('Seleccione un Periodo')
            }else{
                var data = { periodo:comboOrigen,idCajero:''};
                var url = '@Url.Action("TablaProcesados", "Transacciones")';
                $('#tablaPagados').load(url, data, function (responseTxt, statusTxt, xhr) {
                    if (statusTxt == "success") {
                        //jQuery('#tablaTransaccionesPendientes').animate('opacity') = '1';
                    }
                });
            }

           
        }


        const containerModalTransacciones = document.getElementById("modalTransacciones");
        const modalTransaccionesDetalle = new bootstrap.Modal(containerModalTransacciones);


        function detalleTransaccion(idTransaccion){

                var data = { id:idTransaccion};
                var url = '@Url.Action("modalProcesados", "Transacciones")';
                $('#contenidoModal').load(url, data, function (responseTxt, statusTxt, xhr) {
                    if (statusTxt == "success") {
                        modalTransaccionesDetalle.show();
                    }
                });

        }

    </script>
    
}




