@model PeriodoGraduacion

<div class="modal-dialog">
    <div class="modal-content">

        <form id="formUpdatePeriodoGraduacion" asp-action="ActualizarPeriodoGraduacion" method="post">
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro nuevo periodo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="container modal-body">

                <input asp-for="idPeriodoGraduacion" class="form-control" value="@Model.idPeriodoGraduacion" style="display:none"/>

                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <input asp-for="periodoDescripcion" class="form-control" value="@Model.periodoDescripcion"/>
                    <span asp-validation-for="periodoDescripcion" class="text-danger"></span>
                </div>

                <div class="form-check form-switch">

                    @if (Model.estado)
                    {
                        <input class="form-check-input" type="checkbox" asp-for="estado" id="flexSwitchCheckChecked" checked>
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" asp-for="estado" id="flexSwitchCheckChecked">
                    }

                    <label class="form-check-label" for="flexSwitchCheckChecked">Estado</label>
                    
                    <span asp-validation-for="estado" class="text-danger"></span>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">
                    Actualizar
                </button>
            </div>


        </form>



    </div>
</div>
