<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CajaSistema</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CajaSistema.styles.css" asp-append-version="true" />


    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CajaSistema</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrador
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Register" asp-action="Index">Registro</a></li>
                                <li><a class="dropdown-item" asp-controller="Periodo" asp-action="Index">Periodos</a></li>
                            </ul>
                        </li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Academico
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Becados" asp-action="Index">Becados</a></li>
                                <li><a class="dropdown-item" asp-controller="Descuentos" asp-action="Index">Descuentos</a></li>
                                <li><a class="dropdown-item" asp-controller="Ubicacion" asp-action="Index">Exa.Ubicacion</a></li>
                                <li><a class="dropdown-item" asp-controller="PostergacionesCursos" asp-action="Index">Postergaciones</a></li>
                                <li><a class="dropdown-item" asp-controller="OtrosConceptos" asp-action="Index">Otros Conceptos</a></li>
                                <li><a class="dropdown-item" asp-controller="Certificados" asp-action="Index">Certificados / Constancias</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contabilidad
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Cajero" asp-action="Index">Cajeros</a></li>
                                <li><a class="dropdown-item" asp-controller="Cajero" asp-action="AsignarCajero">Asignar Cajeros</a></li>
                                <li><a class="dropdown-item" asp-controller="Redireccion" asp-action="Index">Reasignar Pagos</a></li>
                                <li><a class="dropdown-item" asp-controller="ConceptosLibres" asp-action="Index">Conceptos Libres</a></li>
                                <li><a class="dropdown-item" asp-controller="EdicionConceptos" asp-action="Index">Edicion Conceptos</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Caja
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Transacciones" asp-action="Index">Pagos Pendientes</a></li>
                                <li><a class="dropdown-item" asp-controller="Transacciones" asp-action="ListaProcesados">Pagos Procesados</a></li>
                                <li><a class="dropdown-item" asp-controller="Transacciones" asp-action="ListaObservados">Pagos Observados</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Informes
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Pendientes" asp-action="Index">Pagos Pendientes</a></li>
                                <li><a class="dropdown-item" asp-controller="Anulaciones" asp-action="Index">Anulaciones</a></li>
                                <li><a class="dropdown-item" asp-controller="BusquedaPasswords" asp-action="Index">Passwords</a></li>

                            </ul>
                        </li>


                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CajaSistema - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
